body {
	background: whitesmoke;
}
.fieldName {
	display: inline-block;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 3%; 
}

.fieldValue {
	display: inline-block;
	margin-left: 7px;
}

.contactDetails {
	width: 300px;
	margin-bottom: 10px;
	border-radius: 12px;
	float: left;
	margin-right: 10px;
	border: 2px groove rgba(15, 118, 152, 0.79);
	padding-bottom: 20px;
	background: rgb(238, 246, 249);
}

.deleteContactButton {
	margin-left: 90%;
	margin-top: 10px;
	border: 1px groove rgba(15, 118, 152, 0.79);
	background-color: white;
	border-radius: 6px;
	font-size: 8pt;
}


.mainHeading {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 21pt;
	font-family: cursive;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(14, 98, 125);
	font-weight: bold;
}
.contacts {
	width: 68%;
	float: left;
	border-right: 1pt solid grey;
	padding-bottom: 70px;
	height: 100vh;
	padding-left: 20px;
}


.addContactDiv {
	float: left;
	width: 29%;
}

.form {
	margin-left: 5%;
	margin-top: 50px;
	/* margin-right: 19px; */
	text-align: center;
}

.textBox {
	width: 87%;
	height: 32px;
	font-size: 12pt;
	margin-bottom: 30px;
	border-radius: 7px;
	border-color: lightblue;
	border-style: groove;
}
.textBoxInvalid {
	width: 87%;
	height: 32px;
	font-size: 12pt;
	margin-bottom: 30px;
	border-radius: 7px;
	border-color: red;
	border-style: groove;
}

.emailValue {
	width: 200px;
}

.label {
	font-size: 14pt;
	display: inline;
	margin-right: 16px;
}

.button {
	float: left;
	padding: 10px 15px 11px;
	font-size: 15px;
	background-color: rgba(106, 186, 212, 0.08);
	/* font-weight: bold; */
	text-shadow: 1px 1px lightblue;
	color: rgba(24, 25, 27, 0.66);
	border-radius: 5px;
	border: 2px groove rgba(15, 118, 152, 0.79);
	cursor: pointer;
	margin-left: 12%;
	margin-top: 10%;
}




